body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 1.6em;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

.email, .address {
    font-weight: 300;
    color: #888E92;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 1em;
}
.card h2 {
    font-size: 1em;
    color: #404A51;
}

.hidden {
    display: none;
}

.profile-photo {
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 460px;
    text-align: center;
    background: white;
    border: 1px solid #888E92;
    border-radius: 10px;
    padding: .6em;
    position: relative;
    margin: 15% auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.modal-content {
    display: grid;
    place-items: center;
    /* gap: 1em; */
    grid-column-start: 2;
    /* padding: 1.2em; */
    margin: 0 3em;
}
.text-container {
    padding: 1em;
    line-height: 2;
    color: #888E92;
    font-weight: 300;
}
.text-container h2 {
    font-size: 1.3em;
    color: #404A51;
}
.text-container hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #c6c7c8;
}
.l-arrow {
    display: flex;
    align-items: center;
    padding: .4em;
    font-size: 1.8em;
}
.r-arrow {
    display: flex;
    align-items: center;
    grid-column-start: 3;
    /* padding: .6em; */
    font-size: 1.8em;
}

.modal-close {
    display: flex;
    grid-column-start: 4;
    /* position: absolute; */
    /* right: 15px; */
    /* top: 5px; */
    margin-bottom: 550px;
    padding: .3em;
    cursor: pointer;
    background-color: white;
}
 button {
    border: none;
    text-decoration: none;
    text-align: center;
    box-shadow: 0;
    font-size: 1.2em;
}